{% extends 'crowdsourcer/base.html' %}

{% load django_bootstrap5 %}

{% block content %}
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form type="non_fields"%}

        <div class="col-4">
        {% bootstrap_field form.username addon_after_class="form-text" addon_after="This is case sensitive so if you're having trouble please check the case used in the signup email you recieved" %}
        </div>

        <div class="col-4">
        {% bootstrap_field form.password %}
        </div>

        <button class="btn btn-primary" type="submit">Log In</button>
    </form>

    <p>
        Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a>
    </p>
{% endblock %}
