{% autoescape off %}
Hi,

You're receiving this email because you registered to volunteer for the CEUK Council Climate Scorecards. This email allows you to log into the online data collection system that we will use to score Councils.

If you can remember your previous password from the 2023 Scorecards then you can log in with your username at

{{ protocol }}://{{ domain }}

If you cannot remember your password then please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username is {{ user.get_username }}

Thanks for volunteering!

The CEUK team.

{% endautoescape %}

