{% extends 'crowdsourcer/base.html' %}

{% load crowdsourcer_tags django_bootstrap5 static %}

{% block script %}
<script type="module" src="{% static 'js/volunteer.esm.js' %}"></script>
{% endblock %}

{% block content %}
{% if show_login %}
    <h1 class="mb-4">Sign in</h1>
    <a href="{% url 'login' %}">Sign in</a>
{% else %}
    <h3 class="mb-4">Assign to {{ user.username }}</h3>


    <form action="" method="post" id="assign_form">
        {% csrf_token %}
        {% if formset.total_error_count > 0 %}
          <div class="mb-4">
              <div class="col-md-7 text-danger">
                There were some errors which are highlighted in red below.
              </div>
          </div>
        {% endif %}
          {% bootstrap_formset_errors formset %}
        {{ formset.management_form }}
        <div class="container">
            <div class="row border-bottom">
                <div class="col-sm">
                    Section
                </div>

                <div class="col-sm">
                    Stage
                </div>

                <div class="col-sm">
                    {{ marking_section.entity_name|default:"Council" }}
                </div>

                <div class="col-sm">
                    Active
                </div>

                <div class="col-sm">
                    Delete
                </div>
            </div>
            {% for form in formset %}
                {% if form.total_error_count > 0 %}
                  <div class="mb-4">
                      <div class="col-md-7 text-danger">
                        There were some errors which are highlighted in red below.
                      </div>
                  </div>
                {% endif %}
                <fieldset class="pt-1">
                    {% bootstrap_form_errors form %}
                    <div class="row py-0">
                        <div class="col-sm">
                            <div class="mb-dd-4">
                                {{ form.section }}
                            </div>
                        </div>

                        <div class="col-sm">
                            {{ form.response_type }}
                        </div>

                        <div class="col-sm">
                            {{ form.authority }}
                        </div>

                        <div class="col-sm">
                            {% bootstrap_field form.active %}
                        </div>

                        <div class="col-sm">
                            {% bootstrap_field form.DELETE %}
                        </div>
                    </div>
                    {{ form.id }}
                    {{ form.user }}
                    {{ form.marking_session }}
                </fieldset>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-primary" value="Update"> <input type="button" class="btn btn-secondary" id="add_row" value="Add Row">
    </form>

{% endif %}
{% endblock %}
