{% extends 'crowdsourcer/base.html' %}

{% load crowdsourcer_tags django_bootstrap5 %}

{% block content %}
{% if show_login %}
    <h1 class="mb-4">Sign in</h1>
    <a href="{% url 'login' %}">Sign in</a>
{% else %}
    <h1 class="mb-4">Edit Volunteer</h1>


    <div class="mb-4">
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_formset formset %}
        <input class="btn btn-primary" type="submit" value="Update">
    </form>
    </div>

    {% if user.email  %}
    <div class="mb-4">
    <form action="{% session_url 'reset_volunteer_email' %}" method="post">
        {% csrf_token %}
        {{ reset_form }}
        <input class="btn btn-secondary" type="submit" value="Send Reset Email">
    </form>
    </div>
    {% else %}
    <div class="mb-4">
        <p class="text-danger">
            No email address for user. Add one to send a login link.
        </p>
        <input disabled="true" class="btn btn-secondary" type="submit" value="Send Reset Email">
    </div>
    {% endif %}

{% endif %}
{% endblock %}
