{% extends 'crowdsourcer/base.html' %}

{% load crowdsourcer_tags django_bootstrap5 %}

{% block content %}
{% if show_login %}
    <h1 class="mb-4">Sign in</h1>
    <a href="{% url 'login' %}">Sign in</a>
{% else %}
<h1 class="mb-4">Update Responses for {{ section.title }} {{ question.number_and_part }}</h1>
<h4 class="mb-4">{{ question.description }}</h4>


    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Update">
    </form>

{% endif %}
{% endblock %}
