Hi,

You're receiving this email because you registered to volunteer for the WhoFundsThem project.

This email allows you to log into GRACE, the online data collection system that we will use to mark MPs.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Your username is {{ user.get_username }}

That’s all for now - everything else you need to know will be explained at the training session.

Any questions or queries, send them to whofundsthem@mysociety.org

Thanks for volunteering!


Julia & the mySociety team

