{% extends 'crowdsourcer/base.html' %}

{% block content %}
{% if show_login %}
    <h1 class="mb-4">Sign in</h1>
    <a href="{% url 'login' %}">Sign in</a>
{% else %}
    <h1 class="mb-4">{% if show_users %}All{% else %}Your{% endif %} assignments</h1>
    <table class="table">
        <thead>
            <tr>
              {% if show_users %}
                <th>Assessor</th>
                <th>Stage</th>
              {% endif %}
                <th>Section</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
          {% for assignment in progress %}
            <tr>
              {% if show_users %}
              <td><a href="{% url "volunteer_progress" assignment.assignment.user.id %}">{{ assignment.assignment.user.username }}</a></td>
              <td>{{ assignment.assignment.response_type }}</td>
              {% endif %}
                <td>
                    <a href="{% url assignment.section_link assignment.assignment.section.title %}">{{ assignment.assignment.section.title }}</a>
                </td>
                <td>
                    <div class="progress progress-thin mb-2">
                        {% widthratio assignment.complete assignment.total 100 as width %}
                        <div class="progress-bar bg-success" role="progressbar" aria-labelled-by="label-{{ forloop.counter }}" aria-valuenow="{{ width|default:"0" }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ width|default:"0" }}%"></div>
                    </div>
                    <span id="label-{{ forloop.counter }}">{{ assignment.complete }} of {{ assignment.total }} authorities completed</span>
                </td>
            </tr>
          {% empty %}
            <tr>
              {% if show_users %}
                <td colspan="3">No marking as been assigned</td>
              {% else %}
                <td colspan="2">You have no assignments</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
