{% extends 'crowdsourcer/base.html' %}

{% load crowdsourcer_tags %}

{% block content %}
{% if show_login %}
    <h1 class="mb-4">Sign in</h1>
    <a href="{% url 'login' %}">Sign in</a>
{% else %}
    <h1 class="mb-4">Sections</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Section</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
          {% for section in sections %}
            <tr>
                <td>
                    <a href="{% session_url 'authority_ror' authority_name section.title %}">{{ section.title }}</a>
                </td>
                <td>
                    <div class="progress progress-thin mb-2">
                        {% widthratio section.complete section.total 100 as width %}
                        <div class="progress-bar bg-success" role="progressbar" aria-labelled-by="label-{{ forloop.counter }}" aria-valuenow="{{ width|default:"0" }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ width|default:"0" }}%"></div>
                    </div>
                    <span id="label-{{ forloop.counter }}">{{ section.complete }} of {{ section.total }} questions completed</span>
                </td>
            </tr>
          {% empty %}
            <tr>
              {% if show_users %}
                <td colspan="3">No marking as been assigned</td>
              {% else %}
                <td colspan="2">You have no assignments</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
    </table>

  {% if has_properties %}
    <div class="my-5" style="max-width: 40rem">
        <h2 class="mb-3 h4">Help us by providing optional feedback</h2>
        <p>Help us improve the Scorecards process next year by answering a few optional questions. Your answers will have no effect on your council’s score.</p>
        <a href="{% session_url "authority_properties" authority_name "Right of Reply" %}" class="btn btn-outline-primary">Complete optional questions</a>
    </div>
  {% endif %}

  {% if marking_session.label == "Scorecards 2025" %}
    <div class="my-5" style="max-width: 40rem">
        <h2 class="mb-3 h4">Download your Right of Reply response</h2>
        <p>You can download a CSV spreadsheet of the Right of Reply responses you have provided for the 2025 Council Climate Action Scorecards.</p>
        <p>Please keep these responses private, this is for your own council’s internal use only.</p>
        <a href="{% session_url 'authority_ror_download' authority_name %}" class="btn btn-primary d-inline-flex align-items-center">
            {% include 'crowdsourcer/icons/download.svg' with classes="me-2" %}
            Download responses CSV
        </a>
    </div>
  {% endif %}

{% endif %}
{% endblock %}
