{% extends 'crowdsourcer/base.html' %}

{% load django_bootstrap5 %}
{% load neighbourhood_filters %}
{% load static %}

{% block content %}
    <h1 class="mb-3 mb-md-4">
        {% if authority.website %}
            <a href="{{ authority.website }}">{{ authority_name }}</a>:
        {% else %}
            {{ authority_name }}:
        {% endif %}
        {{section_title}}
    </h1>

    <div class="sticky-top py-3 bg-white border-bottom" style="margin-bottom: -1px;">
        {% if council_minutes %}
          <div class="float-end" style="position: relative; z-index: 10;">
            <a target="_blank" href="{{ council_minutes }}">Minutes</a>
          </div>
        {% endif %}

        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Skip to question
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for q_form in form %}
                <li><a class="dropdown-item d-flex" style="max-width: 30em; white-space: normal;" href="#q{{q_form.question_obj.number_and_part}}">
                    <span style="width: 2em; flex: 0 0 auto;">Q{{q_form.question_obj.number_and_part}}</span>
                    <span class="text-muted fs-7 ms-3">{{ q_form.question_obj.description }}</span>
                </a></li>
              {% endfor %}
            </ul>
        </div>
    </div>

    {% if message %}
      <h3 class="mb-4 mb-md-5 text-success">
        {{ message }}
      </h3>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {% if form.total_error_count > 0 %}
          <div class="mb-4">
              <div class="col-md-7 text-danger">
                <strong>Changes Not Saved</strong>. There were some errors which are highlighted in red below.
              </div>
          </div>
        {% endif %}
        {{ form.management_form }}
      {% for q_form in form %}
        <fieldset class="py-4 py-md-5 border-top">
            <legend id="q{{ q_form.question_obj.number_and_part }}" class="mb-3">
                <h2 class="h4 mb-0 mw-40em">
                    {{ q_form.question_obj.number_and_part }}. {{ q_form.question_obj.description }}
                    {% if q_form.question_obj.how_marked == "foi" %}(FOI){% endif %}
                    {% if q_form.question_obj.how_marked == "national_data" %}(National Data){% endif %}
                </h2>
            </legend>
            <div class="d-sm-flex mx-n3 text-muted">
                <details class="mt-3 mt-sm-0 mx-3 mw-30em">
                    <summary class="fw-bold mb-2">Criteria</summary>
                    {% autoescape off %}
                    {{ q_form.question_obj.criteria|linebreaks }}
                    {% endautoescape %}
                </details>
                <details class="mt-3 mt-sm-0 mx-3 mw-30em">
                    <summary class="fw-bold mb-2">Clarifications</summary>
                    {% autoescape off %}
                    {{ q_form.question_obj.clarifications|linebreaks }}
                    {% endautoescape %}
                </details>
            </div>
            <div class="row gx-lg-5">
                <div class="col-lg-6 mt-6">

                    {% include 'crowdsourcer/includes/previous_response_header.html' %}

                    <h4 class="form-label fs-6">Marker’s answer</h4>
                    <div class="read-only-answer mb-3 mb-md-4">
                      {% if q_form.previous_response.multi_option.values %}
                        <p>
                          {% for option in q_form.previous_response.multi_option.values %}
                            {{ option.description }},
                          {% empty %}
                            (none)
                          {% endfor %}
                        </p>
                      {% else %}
                        {{ q_form.previous_response.option|default:"(none)"|linebreaks }}
                      {% endif %}
                    </div>

                  {% if q_form.question_obj.how_marked == 'foi' %}
                    <h4 class="form-label fs-6">FOI request</h4>
                    <div class="read-only-answer mb-3 mb-md-4">
                        {{ q_form.previous_response.evidence|urlize_external }}
                    </div>
                  {% else %}
                    <h4 class="form-label fs-6">Marker’s evidence of criteria met</h4>
                    <div class="read-only-answer mb-3 mb-md-4">
                        {{ q_form.previous_response.evidence|default:"(none)"|linebreaks }}
                    </div>
                  {% endif %}

                  {% if q_form.question_obj.how_marked != 'foi' %}
                    <h4 class="form-label fs-6">Links to evidence</h4>
                    <div class="read-only-answer mb-0 mb-md-0">
                        {% for link in q_form.previous_response.evidence_links %}
                          <p>
                            {{ link|check_if_broken }}
                          </p>
                        {% endfor %}
                    </div>
                    <div class="text-muted mb-3 mb-md-4 small">
                      Red links were found to be no longer available in an automated check.
                    </div>

                    <h4 class="form-label fs-6">Page number</h4>
                    <div class="read-only-answer mb-3 mb-md-4">
                        {{ q_form.previous_response.page_number|default:"(none)" }}<br>
                    </div>
                  {% endif %}

                    <h4 class="form-label fs-6">Marker’s additional notes</h4>
                    <div class="read-only-answer mb-3 mb-md-4">
                        {{ q_form.previous_response.private_notes|default:"(none)"|linebreaks }}
                    </div>

                </div>
                <div class="col-lg-6 mt-6 js-new-responses">

                    <h3 class="h5 text-muted mb-3 mb-lg-4">New response</h3>

                    <div class="mb-3">
                        <button class="btn btn-sm btn-outline-primary d-flex align-items-center js-copy-response-from-previous" type="button">
                          {% include 'crowdsourcer/icons/magic-wand.svg' %}
                          Copy from Previous Response
                        </button>
                    </div>

                    <script type="application/json" class="js-previous-json">
                    {
                      {% if q_form.previous_response.multi_option.values %}
                        "multi_option": [
                          {% for option in q_form.previous_response.multi_option.values %}
                            "{{ option.description }}"{% if not forloop.last %},{% endif %}
                          {% endfor %}
                        ],
                      {% else %}
                        "option": "{{ q_form.previous_response.option.description }}",
                      {% endif %}
                      {% if q_form.question_obj.how_marked == "foi" %}
                        "evidence": "",
                        "public_notes": "{{ q_form.previous_response.evidence|default_if_none:''|escapejs }}",
                      {% else %}
                        "evidence": "{{ q_form.previous_response.evidence|default_if_none:''|escapejs }}",
                        "public_notes": "{{ q_form.previous_response.public_notes|default_if_none:''|escapejs }}",
                      {% endif %}
                        "page_number": "{{ q_form.previous_response.page_number|default_if_none:''|escapejs }}",
                        "private_notes": "{{ q_form.previous_response.private_notes|default_if_none:''|escapejs }}"
                    }
                    </script>

                    {% include 'crowdsourcer/includes/first_mark_response_form_fields.html' %}

                </div>
            </div>
        </fieldset>
      {% endfor %}

      <div class="sticky-bottom py-3 bg-white border-top" style="margin-top: -1px;">
          <input id="save_all_answers" type="submit" class="btn btn-primary" value="Save answers">
      </div>
    </form>

    <script>
    document.querySelectorAll('.js-copy-response-from-previous').forEach(function(el, i){
      el.addEventListener('click', function(e){
        e.preventDefault();
        var new_responses = el.closest('.js-new-responses');
        var previous_responses = JSON.parse(new_responses.querySelector('.js-previous-json').textContent);

        ["page_number", "evidence", "public_notes", "private_notes"].forEach(function(slug, i){
          new_responses.querySelector('[name$="' + slug + '"]').value = previous_responses[slug];
        });

        /*
          Have to do this by comparing the labels as there is a new set of options so the ids
          will not match. This will fail if the text is not the same but then it should.
         */
        if(previous_responses.multi_option){
          new_responses.querySelectorAll('[name$="multi_option"]').forEach(function(checkbox){
            let label_text = $('label[for=' + checkbox.id + ']').text();
            checkbox.checked = ( previous_responses.multi_option.indexOf(label_text) > -1 );
          });
        } else {
          new_responses.querySelectorAll('[name$="option"] option').forEach(function(option){
            option.selected = (option.label == previous_responses.option);
          });
        }
      });
    });
    </script>

{% endblock %}

{% block script %}
<script src="{% static 'js/questions.esm.js' %}"></script>
{% endblock %}
