{% extends 'crowdsourcer/base.html' %}

{% load django_bootstrap5 %}

{% block content %}
    <h2>
        {{ authority_name }}: {{section_title}}
    </h2>

    <form method="POST" class="mt-4 mt-md-5 p-3 p-md-4 bg-body border rounded row">
        {% csrf_token %}
        {{ form.management_form }}
        {% for q_form in form %}
            <fieldset>
                <legend>
                    {{q_form.question_obj.description }}
                </legend>

                <details>
                    <summary>Criteria</summary>
                    {{q_form.question_obj.criteria|linebreaks }}
                </details>

                <details>
                    <summary>Clarifications</summary>
                    {{q_form.question_obj.clarifications|linebreaks }}
                </details>

                <label class="form-label" for="{{ q_form.option.if_for_label">Response</label>
                <div class="col-9">
                {% bootstrap_field q_form.option show_label="skip" %}
                </div>

                <div class="col-9">
                {% bootstrap_field q_form.page_number %}
                </div>

                <div class="col-9">
                {% bootstrap_field q_form.evidence %}
                </div>
                <div class="col-9">
                {% bootstrap_field q_form.private_notes %}
                </div>

                <div class="col-9">
                {% bootstrap_field q_form.public_notes %}
                </div>

                {{ q_form.authority }}
                {{ q_form.question }}
                {{ q_form.id }}

            </fieldset>
        {% endfor %}
        <div class="col-3">
            <input type="submit" class="btn btn-primary " value="Submit">
        </div>
    </form>

{% endblock %}
