{% load static compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
        <title>{{ page_title }}</title>
        {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}">
        {% endcompress %}
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-light border-bottom site-header">
            <div class="container">
                <a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
                    <img src="{% static 'img/ceuk-logo.png' %}" alt="Climate Emergency UK" width="290" height="100" class="me-3">
                    GRACE
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-sm-auto pt-2 pt-sm-0">
                      {% if user.is_superuser %}
                        <li class="nav-item">
                          <div class="dropdown">
                          <button class="btn dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Volunteer progress
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                              <a class="dropdown-item d-flex" href="{% url 'authority_assignments' %}">Authorities assigned</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'all_authority_progress' %}">Authority Progress</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'all_section_progress' %}">Section Progress</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'volunteer_csv_progress' %}">Volunteer CSV</a>
                            </li>
                          </ul>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="dropdown">
                          <button class="btn dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Right of Reply progress
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'all_authority_ror_progress' %}">Authority Progress</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'authority_login_report' %}">Authority Login Report</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'section_ror_progress' %}">Section Progress</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'authority_contacts_report' %}">Authority Contacts</a>
                            </li>
                          </ul>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="dropdown">
                          <button class="btn dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Stats
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'all_first_marks_csv' %}">First Mark Scores</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'all_ror_marks_csv' %}">Right of Reply Responses</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'all_audit_marks_csv' %}">Audit Mark Scores</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'council_disagree_mark_csv' %}">Council disagree with positive mark</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'stats_select_question' %}">Per question data</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'bad_responses' %}">Responses with no answer</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'duplicate_responses' %}">Responses with duplicate answers</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'raw_and_weighted_totals_csv' %}">Raw and weighted scores and totals (CSV)</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'weighted_totals_csv' %}">Weighted section totals (CSV)</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'question_scores_csv' %}">Question scores and answers (CSV)</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'all_answers_csv' %}">All answer data (CSV)</a>
                            </li>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <div class="dropdown">
                          <button class="btn dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Audit progress
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                              <a class="dropdown-item d-flex" href="{% url 'audit_authority_assignments' %}">Authorities assigned</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'audit_all_authority_progress' %}">Authority Progress</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" href="{% url 'audit_all_section_progress' %}">Section Progress</a>
                            </li>
                          </ul>
                          </div>
                        </li>
                      {% endif %}
                      {% if user.is_authenticated %}
                        {% if ror_user %}
                        <li class="nav-item">
                            <a class="nav-link" href="https://docs.google.com/document/d/1kPzvASwPI157n7i2GBuv0S8YwiYGpZwmEm0pDUmpR_A/edit?usp=sharing">Right of Reply Guide</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">My assignments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
                        </li>
                      {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Sign in</a>
                        </li>
                      {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="site-content py-4 py-md-5">
            <div class="container">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        <div class="site-footer py-4 py-md-5 bg-dark text-light">
            <div class="container text-end">
                <a href="{% url 'privacy_policy' %}" style="color: inherit">Privacy Policy</a>
            </div>
        </div>
        <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
