{% extends 'crowdsourcer/base.html' %}

{% load crowdsourcer_tags %}

{% block content %}
{% if show_login %}
    <h1 class="mb-4">Sign in</h1>
    <a href="{% url 'login' %}">Sign in</a>
{% else %}
    <h1 class="mb-4">Question Data</h1>
    {% for section, data in sections.items %}
    <h3>{{ section }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Question</th>
                <td>First Mark Data</td>
                <td>Right of Reply Data</td>
                <td>Audit Data</td>
            </tr>
        </thead>
        <tbody>
          {% for q in data %}
            <tr>
                <td>
                    {{ q.number_and_part }} - {{ q.description }}
                </td>
                <td>
                    <a href="{% session_url 'question_data_csv' 'first_mark' section q.number %}">First</a>
                </td>
                <td>
                    <a href="{% session_url 'ror_question_data_csv' section q.number %}">RoR</a>
                </td>
                <td>
                    <a href="{% session_url 'question_data_csv' 'audit' section q.number_and_part %}">Audit</a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
{% endif %}
{% endblock %}
